$queue-ball-background: white;
$queue-ball-border: black;

.queue-ball {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $queue-ball-background;
  border: 3px solid $queue-ball-border;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin-top: 7rem;
}
