.button {
  border-radius: 1rem;
  border: 0;
  font-size: 2rem;
  align-items: center;
  height: 4rem;
  line-height: 1.5rem;
  margin-right: 1rem;
  width: 30vw;
  border-width: 4px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  background-color: transparent;
  display: flex;
  justify-content: center;
}

.button--rackem {
  cursor: pointer;
  color: #B2D2A4;
  border-color: #B2D2A4;
  background-color: #1A5653;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.button--join:hover {
box-shadow: 20px, 20px, rgb(0, 0, 0);
}
.button--join {
  cursor: pointer;
  color: #B2D2A4;
  border-color: #107869;
  background-color: #107869;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.button--leave {
  cursor: pointer;
  color: #c6f0b1;
  border-color: #8F3B21;
  background-color: #8F3B21;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}