.button {
  border-radius: 1rem;
  border: 0;
  font-size: 2rem;
  align-items: center;
  height: 4rem;
  line-height: 1.5rem;
  margin-right: 1rem;
  width: 80vw;
  border-width: 4px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  background-color: transparent;
  display: flex;
  justify-content: center;
}

.button--rackem {
  font-size: 1.5rem;
  border: none;
  width: 65vw;
  cursor: pointer;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  color: #fff;
  text-shadow:
    /* White glow */
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    /* Green glow */
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
    font-family: "Vibur", sans-serif;
  }

.button--join:hover {
box-shadow: 20px, 20px, rgb(0, 0, 0);
}
.button--join {
  cursor: pointer;
  color: #B2D2A4;
  border-color: #107869;
  background-color: #107869;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.button--leave {
  cursor: pointer;
  color: #c6f0b1;
  border-color: #8F3B21;
  background-color: #8F3B21;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
