.button {
  border-radius: 1rem;
  border: 0;
  font-size: 2rem;
  align-items: center;
  height: 4rem;
  line-height: 1.5rem;
  margin-right: 1rem;
  width: 30vw;
  border-width: 4px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  background-color: transparent;
  display: flex;
  justify-content: center;
}

.button--rackem {
  cursor: pointer;
  border-color: white;
  background-color: rgb(189, 31, 178);
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.button--join:hover {
box-shadow: 20px, 20px, rgb(0, 0, 0);
}
.button--join {
  cursor: pointer;
  border-color: rgb(234, 234, 234);
  color: whitesmoke;
  background-color: rgb(36, 36, 244);
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.button--leave {
  cursor: pointer;
  border-color: white;
  background-color: rgb(227, 233, 44);
  margin: 0 auto;
  display: flex;
  justify-content: center;
}