$nav-background: rgb(173, 97, 173);
$nav-border-bottom: black;

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
  background-color: $nav-background;
  border-bottom: 2px solid $nav-border-bottom;
}
