$nav-background: #84b367;
$nav-border-bottom:#3D550C;

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
  background-color: $nav-background;
  border-bottom: 2px solid $nav-border-bottom;
}
