$table-list-background: rgb(255, 172, 255);
$table-list-border: black;

.table-list {
  display: flex;
  flex-direction: flex-wrap;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
  // height: 100%;
  width: 100vw;
  background-color: $table-list-background;
  z-index: -1;
  padding: 8rem 0;
}
