$queue-list-item-background: white;
$queue-list-item-border: black;

.queue-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  border: 2px solid $queue-list-item-border;
  background-color: $queue-list-item-background;
  border-radius: 1rem;
  margin: 1rem;
  padding: 8px;
}

.player {
  flex-basis: 50%;
}

.first-player{
  background-color: goldenrod
}
.second-player{
  background-color: silver;
}
